/*This is the style sheet for the website*/

/*Styling for the navigation to float at the top of the page aligned to the left, with the list items in a row*/
nav {
	background-color: mediumpurple;
	height: 100vh;
	float: left;
}

